<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand navbar-left" href="./" >Unacademic</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./syllabus.html">Syllabus</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="slide-panel">
  <button type="button" class="btn btn-danger" id="opener"><i class="fui-list-columned"></i></button>
  <h6>Level 1</h6>
  <ul>
    <li><a href="./000_HTML.html">HTML</a></li>
    <li><a href="./000_CSS.html">CSS</a></li>
    <li><a href="./000_Gists.html">Gists</a></li>
    <li><a href="./000_City_Walk.html">City Walk</a></li>
  </ul>
  <h6>Level 2</h6>
   <ul>
    <li><a href="./001_Dev_Tools.html">Dev Tools</a></li>
    <li><a href="./001_DOM.html">DOM</a></li>
    <li><a href="./001_JSON.html">JSON</a></li>
    <li><a href="./001_Templating.html">Templating</a></li>
  </ul>
</div>