<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <h3 class="footer-title">Coding The Humanities</h3>
        <p>Coding the Humanities teaches scholars how to do research through coding.</p>
        <p>To learn more, visit our site: <a href="http://codingthehumanities.com/">codingthehumanities.com</a></p>
        <ul class="list-inline banner-social-buttons">
          <li>
          <a href="https://www.facebook.com/codingthehumanities" target="_blank"> <span class="fui-facebook"></span></a>
          </li>
          <li>
          <a href="https://twitter.com/humanizecode" target="_blank"><span class="fui-twitter"></span></a>
          </li>
        </ul>
      </div>

      <div class="col-xs-5">
        <div class="footer-banner">
          <h3 class="footer-title">Our Partners</h3>
          <ul >
            <li><a href="http://www.uva.nl/home" target="_blank" style="text-decoration: none; color: white;">University of Amsterdam</a></li>
            <li><a href="http://sandberg.nl/" target="_blank" style="text-decoration: none; color: white;">Sandberg Institute</a></li>
            <li><a href="http://codingthehumanities.com/" target="_blank" style="text-decoration: none; color: white;">Coding the Humanities</a></li>
            <li><a href="http://www.augmentingmasterpieces.nl/" target="_blank" style="text-decoration: none; color: white;">Augmenting Masterpieces</a></li>
            <li><a href="http://lustlab.net/" target="_blank" style="text-decoration: none; color: white;">Lust / LustLab</a></li>
            <li><a href="https://www.uncinc.nl/" target="_blank" style="text-decoration: none; color: white;">UncInc</a></li>
            <li><a href="http://bocoup.com/" target="_blank" style="text-decoration: none; color: white;"> Bocoup Boston</a></li>
            <li><a href="https://www.rijksmuseum.nl/" target="_blank" style="text-decoration: none; color: white;">Rijksmuseum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
